/* .banner{
    background-image: url("../../../images/background.png");
    background-size: cover;
    
} */
/* .banner-img{
    background-image: url("../../../images/modern-living-room.jpg");
    background-size: cover;
} */